$sidenav-width: 240px;

mat-sidenav-container {
  height: 100vh;

  mat-sidenav {
    height: 100vh;
    width: $sidenav-width;
  }

  /deep/ .mat-sidenav-content {
    overflow: hidden;
  }

  .site-sidenav {
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
    padding-bottom: 72px;
    width: $sidenav-width;
    bottom: 0;
    overflow: auto;
    height: 100%;

    &.mat-sidenav-opened {
      box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
    }
  }
}
