<mat-toolbar color="primary"
            class="mat-elevation-z6">
    <button #tooltip="matTooltip"
            [matTooltip]="tooltipMsg"
            mat-icon-button
            (click)="openMenu.emit()">
      <mat-icon>
        menu
      </mat-icon>
    </button>
  <span fxFlex="1 1 auto">
    <ng-content></ng-content>
  </span>
  <div *ngIf="isLoggedIn; then userMenu else login"></div>
  <ng-template #userMenu>
    <button [style.background-image]="backgroundImg"
            [ngStyle]="{'background-size': 'cover', 'border-radius': '50%'}"
            mat-icon-button
            [matMenuTriggerFor]="menu">
    </button>
    <mat-menu #menu="matMenu"
             [overlapTrigger]="false">
      <mat-card>
        <mat-card-header>
          <div matCardAvatar
               [style.background-image]="backgroundImg"
               [ngStyle]="{'background-size': 'cover'}">
          </div>
          <mat-card-title>{{userName}}</mat-card-title>
          <mat-card-subtitle>{{email}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <button mat-menu-item
              (click)="signOut.emit()">
        <mat-icon>account_circle</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </ng-template>
  <ng-template #login>
    <button mat-button
            (click)="signIn.emit()">
      Sign in
    </button>
  </ng-template>
</mat-toolbar>
