<div>
  <md-card>
    <md-card-header>
      <md-card-title>
        <h2>{{ 'mainViewLabels.month' | translate }}</h2>
      </md-card-title>
      <md-card-subtitle>
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }} </h3>
      </md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <mwl-calendar-month-view
        [viewDate]="viewDate"
        [locale]="locale"
        [weekStartsOn]=1>
      </mwl-calendar-month-view>
    </md-card-content>
  </md-card>
</div>
