@import "../../../custom-theme";

.fab-fixed {
  position: absolute;
  right: 2em;
  bottom: 2em;
  z-index: 10;
}

md-card {
  margin: 0.5em;
  min-height: calc(100vh - 8em);
}

.mat-button-toggle-checked {
  color: mat-color($app-primary)
}

.cal-view {
  padding-bottom: 2em;
}
