<div>
  <button md-fab
          class="fab-fixed">
    <md-icon>add</md-icon>
  </button>
  <md-card>
    <div fxLayout="row"
         fxLayoutAlign="space-between start">
      <md-card-header>
        <md-card-title>
          {{ 'mainViewLabels.week' | translate }}
        </md-card-title>
        <md-card-subtitle>
          {{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}
        </md-card-subtitle>
      </md-card-header>
      <app-calendar-header [(viewDate)]="viewDate"
                           [(view)]="view">
      </app-calendar-header>
    </div>
    <mwl-calendar-week-view
      class="cal-view"
      [viewDate]="viewDate"
      [locale]="locale"
      [weekStartsOn]="1">
    </mwl-calendar-week-view>
  </md-card>
</div>
