
<div>
  <button
    md-button
    mwlCalendarPreviousView
    [view]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="viewDateChange.next(viewDate)">
    <md-icon>navigate_before</md-icon>
  </button>
  <button
    md-button
    color="primary"
    mwlCalendarToday
    [(viewDate)]="viewDate"
    (viewDateChange)="viewDateChange.next(viewDate)">
    <md-icon>today</md-icon>
  </button>
  <button
    md-button
    mwlCalendarNextView
    [view]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="viewDateChange.next(viewDate)">
    <md-icon>navigate_next</md-icon>
  </button>
</div>
