@import "~@angular/material/theming";
@import "../../custom-theme";

:host {
  z-index: 10;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
}

md-toolbar {
  background: mat-color($app-background, app-bar);
  color: mat-color($app-primary, default-contrast);
}


