@import '~@angular/material/theming';

@mixin toolbar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-toolbar {
    color: mat-color($primary, default-contrast);

    .site-header {
      background: mat-color($primary);
    }
  }
}
