<mat-card fxLayout="column"
         fxLayoutAlign="start stretch">
  <mat-card-header fxFlex="10"
                  fxLayout="row">
    <mat-card-title>
        {{ title }}
    </mat-card-title>
    <mat-card-subtitle>
        {{ subTitle }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxFlex>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions fxFlex="30"
                   fxLayout="row"
                   fxLayoutAlign="space-between start">
    <span>
      <button
        mat-button
        (click)="viewDateChanged.emit('previous')">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button
      mat-button
      color="primary"
      (click)="viewDateChanged.emit('today')">
      <mat-icon>today</mat-icon>
    </button>
    <button
      mat-button
      (click)="viewDateChanged.emit('next')">
      <mat-icon>navigate_next</mat-icon>
    </button>
    </span>

    <button mat-fab
            class="fab-fixed">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

