<md-card>
  <form (ngSubmit)="onSubmit()"
        [formGroup]="tripForm"
        novalidate>
    <md-card-title>Add trip</md-card-title>
    <md-card-header>
      <md-input-container>
        <input md-input
               placeholder="From"
               class="required">
      </md-input-container>
      <md-input-container>
        <input md-input
               placeholder="Destination"
               class="required">
      </md-input-container>
    </md-card-header>
    <md-card-content>
      <md-input-container>
        <input md-input
               placeholder="Date of loading"
               class="required">
      </md-input-container>
      <md-input-container>
        <input md-input
               placeholder="Date of unloading"
               class="required">
      </md-input-container>
    </md-card-content>
    <md-card-actions>
      <button md-button
              color="primary"
              type="submit"
              [disabled]="!tripForm.valid">
        SAVE
      </button>
      <button md-button>
        CANCEL
      </button>
    </md-card-actions>
  </form>
</md-card>
