<div>
  <div class="form-group">
    <input placeholder="search for location"
           name="search"
           autocorrect="off"
           autocapitalize="off"
           spellcheck="off"
           class="form-control"
           #search
           [formControl]="searchControl">
  </div>
  <agm-map class="map-container"
           [latitude]="latitude"
           [longitude]="longitude"
           [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude">
    </agm-marker>
  </agm-map>
</div>
