@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($app-primary, $app-accent);
$app-background: map-get($theme, background);
$app-foreground: map_get($theme, foreground);

@include angular-material-theme($theme);


